button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: none;
  color: white;
  background-color: transparent;
  cursor: pointer;
  padding: 18px;
  .ion {
    margin-right: 8px;
  }
  &:active {
    opacity: 0.5;
  }
  &:focus {
    background: #ffffff14;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.068);
    &.edit {
      background-color: $edit-color;
    }
    &.validate {
      background-color: $validate-color;
    }
    &.drop {
      background-color: $invalidate-color;
    }
  }
}
