// vars
$input-range-container-height: 40px;
$input-range-container-bkg-color: transparent;
$input-range-bar-bkg-color: transparent;
$input-range-bar-progress-bkg-color: #969696;
$input-range-bar-progress-bkg-color-hover: rgb(145, 145, 145);
$input-range-pointer-size: 0;
$input-range-pointer-size-hover: 12px;
$input-range-pointer-bkg-color: rgb(70, 70, 70);

@mixin input-range-container {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  background-color: $input-range-container-bkg-color;
  height: $input-range-container-height;
}
@mixin input-range-bar {
  -webkit-appearance: none;
  appearance: none;
  background-color: $input-range-bar-bkg-color;
  border-radius: 0;
  height: $global-ui-bar-height;
  border: none;
  color: transparent;
}
@mixin input-range-bar-hover {
  height: $global-ui-bar-height-hover;
}
@mixin input-range-bar-progress {
  background-color: $input-range-bar-progress-bkg-color;
  transition: height .3s, width .3s, background-color .3s;
  height: $global-ui-bar-height;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}
@mixin input-range-bar-progress-hover {
  background-color: $input-range-bar-progress-bkg-color-hover;
  transition: height .3s, width .3s, background-color .3s;
  height: $global-ui-bar-height-hover;
}
@mixin input-range-pointer {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: $input-range-pointer-size;
  width: $input-range-pointer-size;
  border-radius: 50%;
  background-color: $input-range-pointer-bkg-color;
  transition: height .3s, width .3s, background-color .3s;
}
@mixin input-range-pointer-hover {
  height: $input-range-pointer-size-hover;
  width: $input-range-pointer-size-hover;
  transition: height .3s, width .3s, background-color .3s;
}

input[type=range] {
  @include input-range-container;
  &::-webkit-slider-runnable-track {
    @include input-range-bar;
  }
  &::-moz-range-track {
    @include input-range-bar;
  }
  &::-ms-track {
    @include input-range-bar;
  }
  &::-moz-range-progress {
    @include input-range-bar-progress;
  }
  &::-ms-fill-lower {
    @include input-range-bar-progress;
  }
  &::-webkit-slider-thumb {
    @include input-range-pointer;
    margin-top: -3px;
  }
  &::-moz-range-thumb {
    @include input-range-pointer;
  }
  &::-ms-thumb {
    @include input-range-pointer;
    margin-top: -2px;
  }
  &:hover {
    &::-webkit-slider-runnable-track {
      @include input-range-bar-hover;
    }
    &::-moz-range-track {
      @include input-range-bar-hover;
    }
    &::-ms-track {
      @include input-range-bar-hover;
    }
    &::-moz-range-progress {
      @include input-range-bar-progress-hover;
    }
    &::-ms-fill-lower {
      @include input-range-bar-progress-hover;
    }
    &::-webkit-slider-thumb {
      @include input-range-pointer-hover;
    }
    &::-moz-range-thumb {
      @include input-range-pointer-hover;
    }
    &::-ms-thumb {
      @include input-range-pointer-hover;
    }
  }
}
