progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: $global-ui-bar-height;
  transition: height .3s;
  background-color: transparent;
  &:hover {
    height: $global-ui-bar-height-hover;
    &::-moz-progress-bar {
      background-color: $primary-color;
    }
    &::-webkit-progress-value {
      background-color: $primary-color;
    }
  }

  @mixin progress-bar {
    transition: background-color .3s;
    background-color: $third-color;
  }
  
  // this is not the bar, it's the all progress element :
  &::-webkit-progress-bar {
    background-color: transparent;
  }

  &::-moz-progress-bar {
    @include progress-bar;
  }

  &::-webkit-progress-value {
    @include progress-bar;
  }
}
