// Sizes
$global-ui-bar-height: 20px;
$global-ui-bar-height-hover: 6px;

// Colors
$primary-color: rgb(85, 206, 85);
$secondary-color: rgb(72, 72, 190);
$third-color: grey;

$grey-0: #404040;
$grey-1: #505050;
$grey-2: #606060;
$grey-3: #707070;
$grey-4: #808080;
$grey-5: #909090;
$grey-6: #A0A0A0;

$green-0: #034110;
$green-1: #5f0101;
$green-2: #031963;
$green-3: #5d0872;
$green-4: #c9da35;
$green-5: #be4b72;
$green-6: rgb(7, 153, 26);