// Z-index
$z-layer-logo:         60;
$z-layer-nav:          50;
$z-layer-player:       40;
$z-layer-header:       35;
$z-layer-search:       30;
$z-layer-pages:        20;
$z-layer-tracklist:    10;
$z-layer-zero:         0;

// Sizes
$global-ui-bar-height: 4px;
$global-ui-bar-height-hover: 6px;

// Colors
$primary-color: rgb(194, 194, 194);
$secondary-color: rgb(27, 18, 18);
$third-color: grey;

$color-11: #5e8ac7;
$color-12: #577967;
$color-13: #ab3129;
$color-14: #ecce81;
$color-15: #d68543;
$color-19: #82335c;

$grey-0: #404040;
$grey-1: #505050;
$grey-2: #606060;
$grey-3: #707070;
$grey-4: #808080;
$grey-5: #909090;
$grey-6: #A0A0A0;

$header-bkg: transparent;
$ui-bkg: rgba(0, 0, 0, 0.75);

// sizes
$header-height: 75px;
$player-height: 60px;
$search-height: 40px;

@import 'tools';