button {
  outline: none;
  border: none;
  // border: 1px red solid;
  background-color: transparent;
  cursor: pointer;
  padding: 18px;
  @extend %appStyleColor;
  .massive-player & {
    @extend %currentStyleColor;
  }
  &:active {
    opacity: 0.5;
  }
  &:focus {
    background: #ffffff14;
  }
}