$z-index-dialog:          100;
$z-index-logo:             71;
$z-index-header:           70;
$z-index-intro:            69;
$z-index-search-button:    64;
$z-index-header-elt:       60;
$z-index-player:           55;
$z-index-nav:              50;
$z-index-pages:            20;
$z-index-tracks:           10;
$z-index-zero:              0;
