$z-layer-logo:         70;
$z-button-search:      64;
$z-layer-search:       60;
$z-layer-player:       55;
$z-layer-nav:          50;
$z-layer-header:       40;
$z-layer-pages:        20;
$z-layer-tracklist:    10;
$z-layer-zero:         0;
