$global-ui-bar-height: 4px;
$global-ui-bar-height-hover: 6px;

$header-height: 75px;

$search-height: 40px;
$search-button-width: 60px;

$icon-width: 24px;
$icon-height: 24px;

$player-height: 100px;
$control-bar-height: 90px;
