html {
  scrollbar-color: $scrollbar-color $scrollbar-background-color;
  -webkit-scrollbar-color: $scrollbar-color $scrollbar-background-color;
  &::-webkit-scrollbar {
    background-color: $scrollbar-background-color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
  }
}

.tracklist {
  height: 3000px;
}
